<form>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Навыки</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Иностранный язык</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Уровень владения иностранным языком</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Поиск</button>
</form>





