{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Мессенджер{% endblock %}
{% block content %}

    {% if request.user.is_staff %}
        {% include 'hr/navbar_hr.html' %}
    {% else %}
        {% include "social_profile/navbar.html" %}
    {% endif %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 border">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td scope="row"><div class="media">
                            <img src="" class="mr-3" alt="profile">
                            <div class="media-body">
                                <h5 class="mt-0">Profile Name</h5>
                                Hello!!!
                            </div>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"><div class="media">
                            <img src="" class="mr-3" alt="profile">
                            <div class="media-body">
                                <h5 class="mt-0">Profile Name</h5>
                                Hello!!!
                            </div>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"><div class="media">
                            <img src="" class="mr-3" alt="profile">
                            <div class="media-body">
                                <h5 class="mt-0">Profile Name</h5>
                                Hello!!!
                            </div>
                        </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-8 border">
                <div style="height: 50px;">Profile Name<br>
                    Последний раз в сети -
                </div>
                <div class="dropdown-divider"></div>
                <div class=""><small>Дата</small></div><br>
                <div class=""><img src="" class="mr-3" alt="profile">Сообщение 1</div><br>
                <div class=""><img src="" class="mr-3" alt="profile">Сообщение 2</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {#    <script src="{% static 'social_profile/js/education_ajax.js' %}"></script>#}
{% endblock %}